<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form action="/teams" method="post">
      <p><label for="team_name">Team Name: </label>
      <input type="text" id="team_name" name="team[name]"></p>

      <p><label for="team_motto">Team Motto: </label>
      <input type="text" id="team_motto" name="team[motto]"></p>

      <h2>Hero 1</h2>
      <p><label for="member1_name">Hero's Name: </label>
      <input type="text" id="member1_name" name="team[members][][name]"></p>

      <p><label for="member1_power">Hero's Name: </label>
      <input type="text" id="member1_power" name="team[members][][power]"></p>

      <p><label for="member1_bio">Hero's Name: </label>
      <input type="text" id="member1_bio" name="team[members][][bio]"></p>
    </form>
  </body>
</html>
