<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form action="/teams" method="post">
      <p><label for="team_name">Team Name: </label>
      <input type="text" id="team_name" name="team[name]"></p>

      <p><label for="team_motto">Team Motto: </label>
      <input type="text" id="team_motto" name="team[motto]"></p>

      <h2>Hero 1</h2>
      <p><label for="hero_name">Hero's Name: </label>
      <input type="text" id="hero1_name" name="team[heroes][][name]"></p>


    </form>
  </body>
</html>
